<launch>
    <arg name="config" default="$(find armer_ur)/cfg/ur5_cb3_real.yaml" />
    <arg name="move" default="true" />
    
    <node pkg="armer" type="armer" name="armer" output="screen">
        <param name="config" value="$(arg config)" />
    </node>

    <node pkg="slip_manipulation" type="armer_move_arm.py" name="armer_move_arm" output="screen" if="$(arg move)"/>
</launch>
