<launch>

    <node name="Robotiq2FGripperRtuNode" pkg="robotiq_f_gripper_control" type="Robotiq2FGripperRtuNode.py" respawn="true" args="/dev/ttyUSB1" />
    <node name="Robotiq2FGripperSimpleController" pkg="robotiq_f_gripper_control" type="Robotiq2FGripperSimpleController.py" respawn="true" />

</launch>