<launch>
    <arg name="record" default="true" />

    <node pkg="slip_manipulation" name="baseline_pick_and_place"
    type="baseline_pick_and_place.py" output="screen" respawn="false" />

    <!-- <node pkg="slip_manipulation" name="vision_estimator"
    type="vision_estimation.py" output="screen" respawn="true" /> -->

    <node pkg="rosbag" type="record" name="record_bag"
    args="record -o /home/acrv/eric_ws/bagfiles/Experiments/heavy_long_baseline --node=/baseline_pick_and_place /slip_manipulation/marker_pose /slip_manipulation/box_visualisation /slip_manipulation/grasp_pose /slip_manipulation/is_long_edge /aruco_marker_publisher/result/compressed /slip_manipulation/rotation_angle /slip_manipulation/work" 
    if="$(arg record)" />

    <!-- <node pkg="slip_manipulation" name="synchronise_data_tactile_sensor"
    type="synchronise_data_tactile_sensor.py" output="screen" respawn="true" /> -->
</launch>
